<table>
        <col width="300">
        <col width="150">
        <col width="150">
        <col width="400">
        <col width="100">
        <col width="140">
        <col width="100">
        <col width="100">
        <col width="140">
    <tr>
        <td>
            <font face="arial" color=20B2AA size="6">LearnBuzzEE</font>
        </td>
        <td>
            <a href="{% url "student_list" %}"><button>Student List</button></a>
        </td>
        <td>
            <a href="{% url "student_new" %}"><button>Add New Student</button></a>
        </td>
        <td>
           <form  action= {% url "student_search" %}  method=GET>
                <input type="text" name="last" placeholder="search lastname">
                <button>Search</button></a>

            </form>
        </td>
    </tr>
</table>

<hr>
{% block content %}{% endblock %}

<hr>
<div align="right">&copy; LearnBuzzEE  2015<br>
{% now  "l, F j, Y  h:i A" %}
</div>
