
     {#<form action="{% url 'student_learningplan' %}" method="post">#}
         <form  method="post">
    {% csrf_token %}
     <table>
        <col width="700">
        <col width="700">
        <tr>
            <td valign="top">
                <strong>Math:</strong> | Current points:{{student.math_points}}<br>
                <strong>Plan:</strong><br>
                {{form.mathplan_points}} points <br>
                per {{form.mathplan_per}}
                of {{form.mathplan_type}}
            </td>
            <td valign="top">
                <strong>Reading:</strong> | Current points:{{student.reading_points}}<br>
                <strong>Plan:</strong><br>
                {{form.readingplan_points}} points<br>
                per {{form.readingplan_per}} of {{form.readingplan_type}}
            </td>
        </tr>
    </table>
   <br>
    {{form.errors}}
</form>


