{% extends "students/base.html" %}
{% block content %}
<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}

        <h3>Student Information</h3>
            {% ifequal mode "new" %}
                <h4><font color="black">mode:</font>new</h4>
            {% else %}
                <h4><font color="black">mode:</font>edit</h4>
            {% endifequal %}


                <table>
                    <col width="200">
                    <col width="200">
                    <col width="200" >
                    <col width="200">
                    <col width="200">

                    <tr>

                        <td><h4>Name</h4>First name  {{form.firstname}} </td>
                        <td>Last name   {{form.lastname}} </td>
                        <td align="center" valign="top">
                           <h4>Group</h4>{{form.group}}
                        </td>
                        <td valign="top">
                            <h4>Gender</h4>{{form.gender}}
                        </td>
                        <td valign="top">
                            <h4>Avatar</h4> {{form.avatar}}
                        </td>
                    </tr>
                    <tr>
                        {% if mode = 'edit' %}Total Points {{student.total_points}}{% endif %}
                    </tr>
                </table>


        <h3>Individual Learning Plan</h3>
        <table>
            <col width="600">
            <col width="400">
            <tr>
                <td>
                     <h4>Math</h4>
                        {% if mode = 'edit' %}<strong>Current points:</strong>{{student.math_points}}{% endif %}<br><br>
                        <strong>Plan:</strong><br>
                        {{form.mathplan_points}} points per {{form.mathplan_per}} of {{form.mathplan_type}}
                </td>
                <td>
                    <h4>Reading</h4>
                        {% if mode = 'edit' %}<strong>Current points</strong>:{{student.reading_points}}{%endif %}<br><br>
                        <strong>Plan:</strong><br>
                        {{form.readingplan_points}} points per {{form.readingplan_per}} of {{form.readingplan_type}}
                </td>
            </tr>
        </table>
<hr>
                <button type="submit"  value="Submit">Submit Student Information</button>
</form>


    {% if mode = 'edit' %}
        <form method="get"></form>
        <a href="{% url "student_log_add" student.pk %}"><button>add to log</button></a>
        <a href="{% url "student_log_list" student.pk %}"><button>show log list</button></a>
        <a href="{% url "student_gainpoints" student.pk %}"><button>gain points</button></a>
        <a href="{% url "student_gainpoints_list" student.pk %}"><button>show points</button></a>
        <a href="{% url "student_delete" student.pk %}"><button>delete</button></a>
    {% endif %}

{% endblock %}
